<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Casey</strong>. I'm a systems administrator and based in Denver, Colorado.
    You can see some of my work on <a href="https://www.github.com/caseyjdavis" target="_blank">GitHub</a>,
    or read more about me on <a href="https://www.caseyjdavis.com" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
