<style>
  img {
    width: 300px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
    <img alt="Blog Logo" src="assets/caseyjdavis.svg"/>
 </a>
